*.wav
*.mp3
*.m4a
*.pth
*.t7
*.pt
*.bin
*.zip
*.tar.gz
__pycache__/
venv/
.venv/
.ipynb_checkpoints/
*.log
tensorboard/
events.out.*
audio/
wavs/
dataset_training/wavs/
dataset_training/voice-cloning-arabic/StyleTTS2/Models/
dataset_training/voice-cloning-arabic/StyleTTS2/Utils/
dataset_training/voice-cloning-arabic/StyleTTS2/StyleTTS2-LibriTTS-temp/
dataset_training/voice-cloning-arabic/venv/
dataset_training/voice-cloning-arabic/StyleTTS2/
dataset_training/voice-cloning-arabic/StyleTTS2/
dataset_training/voice-cloning-arabic/StyleTTS2/
